

/* Основные стили */

/* Слайдер */
.header_bg{
	width: 100%;	position: relative;
	

}



/* Ограничивающая оболочка */
.slick-list {
	min-width: 100%;overflow: hidden;
height: 100%;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
	

}

/* Слайд */
.slick-slide{

}
/* Слайд активный */
.slick-slide.slick-active{

}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{
	width: 30px;
  height: 117px; 
  color: red;

  font-size: 10px;

background: url(../images/rectangle-5-copy-2.png);
	background-repeat: no-repeat; 
    position: relative;
    z-index: 2000;
  
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	min-width: 30px;
  height: 117px; 
  color: red;
  position: relative;
left: 50px;
top: 150px;
  font-size: 0px;

background: url(../images/rectangle-5-copy.png);
	background-repeat: no-repeat; 
    position: relative;
    z-index: 2000;
}
/* Стрелка вправо */
.slick-arrow.slick-next{ 
min-width: 30px;
  height: 117px; 
  color: red;
position: relative;
right:  50px;
top: 150px;
  font-size: 0px;

background: url(../images/rectangle-5-copy-2.png);
	background-repeat: no-repeat; 
    position: relative;
    z-index: 2000;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 460px;
	left: -60%;
height: 15px;
}
.slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slick-dots button{
	list-style: none;
	margin: 0px 10px;
font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #867a76;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background: #fd926d;

}

/* Конкретный слайдер */
.slider {
	position: relative;
	margin: -30px 00px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	
   
 
}
 .slider .slick-arrow.slick-prev{
/*  width: 30px;
  height: 30px;
  font-size: 0;
background: url(../images/left.png);
	background-repeat: no-repeat; 
    position: relative;
    z-index: 2000;
left: 46px;
top: 357px;*/
}

.slider .slick-arrow.slick-next{
	 /* width: 30px;
  height: 30px;
  font-size: 0;
background: url(../images/right.png);
	background-repeat: no-repeat; 
    position: relative;
    z-index: 2000;left: 114px;
top: -225px;*/

}

.slider .slick-arrow.slick-disabled{
	opacity: 0.2;;
}

/*.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;

}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}*/

.slider__item {
	padding: 0px 10px;
	width: 150px;
	height: 200px;;
}

.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}
.main_head {
	z-index: 1000;
	position: relative;
	height: 230px;
}
.slider_title_block{
	margin:180px;
	letter-spacing: 10px;
	width: 550px;
	height: 40px;
	position: relative;
	left: -144px;
	top: 200px;
}
.slider_title{
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	background-color: black;
	opacity: 0.6;
}
